.contact-map-new {
  position: relative;
  height: 600px;

  .mapboxgl-ctrl-bottom-left,
  .mapboxgl-ctrl-bottom-right {
    display: none;
  }
}

.contact-info {
  svg {
    margin-top: 4px;
  }
}

.popup-custom {
  position: absolute;
  bottom: 10px;
  left: 50%;
  padding: 20px;
  transform: translateX(-50%);
  color: white;
  background-color: #000000;

  svg {
    color: $primary;
  }

  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 1;
  }

  .close:hover {
    opacity: 1;
  }

  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    width: 1px;
    height: 33px;
    content: ' ';
    background-color: $primary;
  }

  .close:before {
    transform: rotate(45deg);
  }

  .close:after {
    transform: rotate(-45deg);
  }
}
