.circle-fa-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 128px;
  margin: auto;
  border-radius: 100%;
  background: var(--primary, $primary);
}
