// bootstrap
@import '~bootstrap/scss/bootstrap';

/* Global styling for this template */
body {
  font-family: Comfortaa, 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  overflow-x: hidden;
}

p {
  line-height: 1.75;
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

// Highlight color customization
::-moz-selection,
::selection {
  background: $primary;
  text-shadow: none;
}

img {
  &::selection,
  &::-moz-selection {
    background: transparent;
  }
}

a:not([href]),
a:not([href]):hover {
  text-decoration: none;
  color: inherit;
}

/* Components */
// Button Styles
.btn {
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  border-color: $primary;
  background-color: $primary;

  &:active,
  &:focus,
  &:hover {
    color: white;
    border-color: darken($primary, 7.5%) !important;
    background-color: darken($primary, 7.5%) !important;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }
}

.modal-dialog {
  margin: 0 auto;
}

.modal-content,
.card,
.dropdown-menu,
.modal-header {
  border-width: 0;
  border-radius: 0;
}

.modal-header .close {
  margin-top: -0.75rem;
  outline: none;
}

.modal-header {
  position: sticky;
  z-index: 99999;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
}

.modal-body {
  border-top: 1px solid #dee2e6;
}

.dropdown-menu {
  box-shadow: 0 0 30px rgba(33, 37, 41, 0.1);
}

.custom-link {
  position: relative;
  margin-bottom: 3px;
  padding-right: 20px;
  padding-bottom: 2px;
  color: $primary;

  &:hover {
    text-decoration: none;
    color: $primary;
  }

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.5px;
    content: '';
    transition: 0.3s;
    background: $primary;
  }

  &:hover:after {
    width: 100%;
  }

  &:before {
    position: absolute;
    top: 50%;
    right: 0;
    width: 16px;
    height: 16px;
    content: '';
    transform: translateY(-45%);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjYiIHZpZXdCb3g9IjAgMCAyNiAyNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkuOTc5OTggNC44MzYwNkwxOS45NTEgNS4yMzYwNkwyMC40NTQgMTUuNTE5MSIgc3Ryb2tlPSIjNTk4OENFIi8+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNS4wMDEgMTkuMjk3TDE5LjA0MSA1LjUzMDAzTDE5LjY0MSA2LjE0MDAzTDUuNiAxOS45MDhMNSAxOS4yOThMNS4wMDEgMTkuMjk3WiIgZmlsbD0iIzU5ODhDRSIvPgo8L3N2Zz4K');
    background-size: cover;
  }
}

.custom-link-contact {
  &:before {
    transform: translateY(-55%);
  }
}
