.image-card.card {
  height: 100vh;
  min-height: 560px;

  .image {
    position: relative;
    height: 100vh;
    min-height: 560px;

    &::before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba($white, 0.25);
    }
  }

  .no-padding {
    padding: 0;
  }

  .card-img-overlay {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro-text {
    //text-shadow: 0 0 10px $gray-900, 0 0 30px $gray-900;

    .intro-lead-in {
      font-family: Comfortaa, sans-serif;
      font-size: 22px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 0;

      span {
        display: block;
      }
    }

    .intro-heading {
      font-family: Comfortaa, sans-serif;
      font-size: 70px;
      font-weight: 700;
      line-height: 80px;
      display: flex;
      justify-content: center;
      margin-top: 80px;
      margin-bottom: 15px;
      letter-spacing: 10px;
      color: var(--primary, $primary);
    }

    .intro-lead-in {
      font-weight: 700;
      text-align: center;
      color: $gray-900;
    }
  }
}

.arrow-icon {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 34px;
  left: 0;

  @media (min-width: 768px) {
    bottom: 54px;
  }

  a {
    display: inline-flex;
    flex-direction: column;
    padding: 15px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 1;

    &.hidden {
      pointer-events: none;
      opacity: 0;
    }
  }

  span {
    display: block;
    width: 33px;
    height: 33px;
    margin-top: -20px;
    margin-right: auto;
    margin-left: auto;
    padding: 3px;
    transition: border 1.2s;
    transform: rotate(45deg);
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: var(--primary, $primary);

    &:nth-child(1) {
      animation: arrow-1 1.2s infinite;
    }

    &:nth-child(2) {
      animation: arrow-2 1.2s infinite;
    }

    &:nth-child(3) {
      animation: arrow-3 1.2s infinite;
    }

    @media (min-width: 768px) {
      width: 62px;
      height: 62px;
      margin-top: -38px;
    }
  }
}

@media (min-width: 768px) {
  .image-card.card {
    min-height: 659px;

    .image {
      min-height: 659px;
    }

    .intro-text {
      .intro-heading {
        font-size: 165px;
        font-weight: 700;
        line-height: 170px;
        margin-top: 155px;
        margin-bottom: 20px;
        letter-spacing: 25px;
      }

      .intro-lead-in {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 50px;
        word-spacing: 0;

        span {
          display: inline;
        }

        span:after {
          content: ' | ';
        }

        span:last-child:after {
          content: '';
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .image-card.card {
    min-height: 759px;

    .image {
      min-height: 759px;
    }
  }
}

@keyframes arrow-1 {
  0% {
    opacity: 0.1;
  }

  20% {
    opacity: 0.1;
  }

  40% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes arrow-2 {
  0% {
    opacity: 0.5;
  }

  20% {
    opacity: 0.1;
  }

  40% {
    opacity: 0.1;
  }

  60% {
    opacity: 0.1;
  }

  70% {
    opacity: 0.5;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes arrow-3 {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0.5;
  }

  40% {
    opacity: 0.1;
  }

  60% {
    opacity: 0.1;
  }

  80% {
    opacity: 0.1;
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
